<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

</head>
<body style="background-color: #f6f6f6">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Calculator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <div class="social-roll social-twitter">&nbsp;</div>
                    <div class="social-roll social-facebook">&nbsp;</div>
                    <div class="social-roll social-google">&nbsp;</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    &copy; @DateTime.Now.Year - Wyse Owl LTD
                </div>
            </div>
            <style>
                .social-roll {
                    height: 48px;
                    width: 48px;
                    margin: 10px;
                    float: left;
                    border-radius: 50%;
                    -webkit-transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -o-transition: all ease 0.3s;
                    -ms-transition: all ease 0.3s;
                    transition: all ease 0.3s;
                }

                    .social-roll:hover {
                        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
                        -webkit-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }

                .social-twitter {
                    background-image: url('../../Content/Social/twitter-hover-gray.png');
                }

                    .social-twitter:hover {
                        background-image: url('../../Content/Social/twitter-hover.png');
                    }

                .social-facebook {
                    background-image: url('../../Content/Social/facebook-hover-gray.png');
                }

                    .social-facebook:hover {
                        background-image: url('../../Content/Social/facebook-hover.png');
                    }

                .social-google {
                    background-image: url('../../Content/Social/google-hover-gray.png');
                }

                    .social-google:hover {
                        background-image: url('../../Content/Social/google-hover.png');
                    }
            </style>
        </footer>
    </div>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/switch")
    @Scripts.Render("~/bundles/jqtouch")
    @Scripts.Render("~/bundles/jqmasked")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/less")
    @RenderSection("scripts", required: false)
</body>
</html>

