@using WyseOwl.Models
@model CalculationsViewModel1.FirstCalculation
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    @*<h1>Student Loans Repayment Calculator UK</h1>*@
    <p class="lead">Use this quick and easy calculator to see how long it takes to pay off your student loan and whether you can make any savings. </p>
    <p class="lead">We don't store any of your information!</p>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" style="width: 100%; height: 30px" data-target="#calculationInputDiv" data-toggle="collapse" id="calculationInputButton">
            <span class="glyphicon glyphicon-resize-vertical"></span>
        </button>
    </div>
</div>
<div class="collapse in" id="calculationInputDiv">
    <section id="loginForm">
        @using (Ajax.BeginForm("Index", "Home", new AjaxOptions()
        {
            HttpMethod = "POST",
            //    UpdateTargetId = "Result",
            OnSuccess = "onSuccess",
            // OnBegin = "onBegin",
            //  OnComplete = "onComplete"
            //  LoadingElementId = "loader"
        }))
        {
                @*<div id="loader" class=" aletr" style="opacity:0.5; background: #000; width:100%;height:100%; z-index: 10;top:0; left:0; position: fixed; display: none">
                    Loading...<img src="~/Content/loader.gif" style="background: no-repeat scroll center #FFF; position: absolute; height: 100%; width: 100%;"/>
                </div>*@
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Balance)
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Balance, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Balance, "", new { @class = "text-danger" })
                    </div>
                </div>
            <br/>

                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.SelectedAddressCountry)
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.SelectedAddressCountry, Model.AddressCountry, "-SELECT-", new { @class = "form-control", @id = "ddlAddressCountry" })
                    </div>
                </div>
            <br/>

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    @Html.LabelFor(m => m.StartYear)
                </div>
                <div class="col-md-2 col-xs-6" style="padding-top: 10px;">
                    <div id="beginYearSlider"></div>
                </div>
                <div class="col-md-1 col-xs-4">
                    @Html.TextBoxFor(m => m.StartYear, new { @readonly = "readonly", @class = "form-control input-sm", @id = "beginYear" })
                </div>
                <div class="col-md-5">@Html.ValidationMessageFor(m => m.StartYear)</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    @Html.LabelFor(m => m.EligibleYear)
                </div>
                <div class="col-md-2 col-xs-6" style="padding-top: 10px;">
                    <div id="eligilbeYearSlider"></div>
                </div>
                <div class="col-md-1 col-xs-4">
                    @Html.TextBoxFor(m => m.EligibleYear, new { @readonly = "readonly", @class = "form-control input-sm", @id = "eligibleYear" })
                </div>
                <div class="col-md-5">@Html.ValidationMessageFor(m => m.EligibleYear)</div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Paye)
                </div>
                <div class="col-md-2">
                    @Html.CheckBoxFor(m => m.Paye, new { @id = "cbPaye" })
                </div>
            </div>
            <br />
            <div class="row" id="divPostgraduateLoan" style="display: none">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.PostGraduateLoan)
                </div>
                <div class="col-md-2">
                    @Html.CheckBoxFor(m => m.PostGraduateLoan, new { @id = "cbPostgraduateLoan" })
                </div>
            </div>
            <br />
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.SelectedWorkCountry)
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.SelectedWorkCountry, Model.WorkCountry, "-SELECT-", new { @class = "form-control" })
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        @Html.LabelFor(m => m.GrossEarnings)
                    </div>
                    <div class="col-md-2 col-xs-4">
                        @Html.TextBoxFor(m => m.GrossEarnings, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.GrossEarnings, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 col-xs-4">
                        @Html.DropDownListFor(m => m.SelectedGrossEarningsPer, Model.PerTime, "-SELECT-", new { @class = "form-control" })
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        @Html.LabelFor(m => m.Repayments) &nbsp;
                    </div>
                    <div class="col-md-1 col-xs-4">
                        @Html.TextBoxFor(m => m.Repayments, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Repayments, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 col-xs-6">
                        @Html.DropDownListFor(m => m.SelectedRepaymentsCurrency, Model.Currency, "-SELECT-", new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 col-xs-6">
                        @Html.DropDownListFor(m => m.SelectedRepaymentsPer, Model.PerTime, "-SELECT-", new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <input type="submit" value="Calculate" class="btn btn-default" />
                    </div>
                </div>
        }

    </section>
</div>


<section id="socialLoginForm" style="display: none">
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-md-8 col-xs-8">
            Your outstanding loan for this month is: &nbsp; 
        </div>
        <div class="col-md-4 col-xs-4"><span id="spanResult1"></span></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-8">
            Length of time until your loan is payed off: &nbsp; 
        </div>
        <div class="col-md-4 col-xs-4"><span id="spanResult2"></span></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-8">
            By paying off extra, you will save: &nbsp; 
        </div>
        <div class="col-md-4 col-xs-4"><span id="spanResult3"></span></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-8">
            Total amount spent on voluntary repayments: &nbsp; 
        </div>
        <div class="col-md-4 col-xs-4"><span id="spanResult4"></span></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-8">
            Equivalent monthly voluntary repayments: &nbsp; 
        </div>
        <div class="col-md-4 col-xs-4"><span id="spanResult5"></span></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-8">
            Equivalent to an interest rate of: &nbsp;
        </div>
        <div class="col-md-4 col-xs-4"><span id="spanResult6"></span></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-8">
            Your loan will be canceled in at most: &nbsp; 
        </div>
        <div class="col-md-4 col-xs-4"><span id="spanResult7"></span></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-8">
            Your loan type: &nbsp; 
        </div>
        <div class="col-md-4 col-xs-4"><span id="spanResult8"></span></div>
    </div>
</section>

@section Scripts {
    <script>
        //# sourceURL=dynamicScript.js
        function onSuccess(data) {
            $("#calculationInputButton").click();
            $("#socialLoginForm").css({ 'display': "block" });
            $("#spanResult1").text(data.result.OutstandingLoan);
            $("#spanResult2").text(data.result.LengthUntillPaidOff);
            $("#spanResult3").text(data.result.YouSave);
            $("#spanResult4").text(data.result.TotalAmountRepayments);
            $("#spanResult5").text(data.result.MonthlyRepayments);
            $("#spanResult6").text(data.result.InterestRate);
            $("#spanResult7").text(data.result.CancelledIn);
            $("#spanResult8").text(data.result.LoanType);
        }

        $(function () {
            $("#beginYearSlider").slider({
                range: "max",
                min: 1990,
                max: 2017,
                value: $("#beginYear").val(),
                slide: function (event, ui) {
                    $("#beginYear").val(ui.value);
                    showOrHidePostGraduateLoan();
                }
            });

            $("#eligilbeYearSlider").slider({
                range: "max",
                min: 1990,
                max: 2017,
                value: $("#eligibleYear").val(),
                slide: function (event, ui) {
                    $("#eligibleYear").val(ui.value);
                }
            });

            $("#cbPaye").switchButton(
            {
                on_label: "Yes",
                off_label: "No"
            });

            $("#cbPostgraduateLoan").switchButton(
           {
               on_label: "Yes",
               off_label: "No"
           });
        });

        $("#ddlAddressCountry").change(showOrHidePostGraduateLoan);

        function showOrHidePostGraduateLoan() {
            if ($('#ddlAddressCountry').val() === "England" && parseInt($("#beginYear").val()) > 2012) {
                $('#divPostgraduateLoan').show();
            } else {
                $('#divPostgraduateLoan').hide();
            }
        };

    </script>
}
